*{
    margin: 0;
    padding: 0;
}

/* .small-sidebar{
    border:1px solid black;
    width: 4vw;
    height:99vh;
    background-color:black;
    color:white;
    display:flex;
    flex-direction:column;
    
} */


